asn1crypto==1.5.1
attrs==23.1.0
certifi==2023.7.22
cffi==1.16.0
charset-normalizer==3.3.2
click==8.1.7
click-aliases==1.0.3
colorama==0.4.6
commonmark==0.9.1
cryptography==39.0.2
dt-cli==1.6.13
dt-extensions-sdk==1.1.0
idna==3.4
jsonschema==4.19.2
jsonschema-specifications==2023.7.1
psutil==5.9.6
pycparser==2.21
Pygments==2.16.1
PyYAML==6.0.1
referencing==0.30.2
requests==2.31.0
rich==12.6.0
rpds-py==0.10.6
shellingham==1.5.4
typer==0.6.1
urllib3==2.0.7
